.tabs {
  justify-content: center !important;
}

.tabs__item--active{
  background: currentColor !important;
box-shadow: 0 55px 25px #ff7878 !important;
z-index: 5 !important;
color: white !important;
margin: 0 1rem !important;
}


.red {
  color: rgb(255, 120, 120);
}
.red[aria-selected="true"] {
  border-bottom-color: rgb(255, 120, 120);
}

.orange {
  color: rgb(255, 183, 120);
}
.orange[aria-selected="true"] {
  border-bottom-color: rgb(255, 183, 120);
}

.blue {
  color: rgb(120, 179, 255);
}
.blue[aria-selected="true"] {
  border-bottom-color: rgb(120, 179, 255);
}

